<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i.pinimg.com/originals/af/a0/c0/afa0c0639b84c453751c74929e11b8ca.jpg)">
  <h1>STARWARSTROLOGY</h1>
  <p>Horoscope and tarot brought to you from people who actually know the stars</p>
</div>