<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/putzvini" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/putzvini/"  target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/putzvini"  target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/vini-oliveira/"  target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright" >
    <p class="p-footer">This footer is made with <i class="fas fa-heart"></i><del> at Le Wagon</del> by me</p>
  </div>
</div>