<div class="main-container">
  
  <div class="row">
    <div class="col"></div>
    <div  class="col-8">
      <h3>Daily Tarot Reading</h3>
      <p>Discover your free daily tarot card reading and take a glimpse into the future</p>
    </div>
    <div class="col"></div>  
  </div>
  
  <div class="row">
    <div class="col"></div>
    <div  class="col-6">  
      
      <div class="tarot-cards-container">
      
        <%= image_tag "cards/love.png" , class:"card"%>
        <%= image_tag "cards/carrer.png" , class:"card"%>
        <%= image_tag "cards/mood.png" , class:"card"%>
      
      </div>
    
    </div>
  
    <div class="col"></div>
  </div>

  <div class="container">    
    <div class="row">     
      <div class="col">       
        <div class="wrapper">            
          <div class="gallery">
            <ul>
              <% @horoscopes.each do |horoscope| %>
              <li><%= link_to image_tag( "profile_square/#{horoscope.short_name}.png"), horoscope_path(horoscope) %></li>
              <% end %>
            </ul>
          </div>        
        </div>
      </div>  
      <div class="col">
        <div class="wrapper">
          <h3>Daily horoscope</h3>
          <p class="text-justify">
            A long long time ago in a galaxy far far away, a great group of warriors got together 
            to break down myths and bring to you the real facts about the zodiac. Although
            you may know them from other initiatives, even as enemies in occasions, let it be know that no one in 
            any galaxy knows the star's secrets better then them. Their union represent the ultimate
            alliance in astrology. <strong>Click on an image</strong> and see what the stars have to say for your day.
          </p>
        </div>
      </div>
    </div>
  </div>
<div>


