<h1>Horoscopes</h1>
<ul>
  <% @horoscopes.each do |horoscope| %>
  <li><%= horoscope.short_name %></li>
  <%= link_to image_tag( "profile/#{horoscope.short_name}.png"), horoscope_path(horoscope) %>
  <% end %>
</ul>
<ul>
  <% @cards.each_with_index do |card| %>
  <li><%= image_tag "cards/#{card}.png" %></li>
  <% end %>
</ul>