.horoscope-card {
  height: 300px;
  align-self: initial;
}

.horoscope-icon {
  height: 60px;
}

.horoscope-container {
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
}

.daily-horoscope-container {
  align-items: center;
}