.tarot-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  height: 250px;
}
// .tarot-cards-container {
//   position: relative;
//   width: 700px;
//   height: 433px;
// }
